<!DOCTYPE html>
<html>
<head>
    <title>Prediccion de Datos de Autos</title>
    <script>
        function clasificarInsecto(event) {
            event.preventDefault();
            const max_power = document.getElementById('max_power (in bph)').value;
            const year= document.getElementById('year').value;
            const driven = document.getElementById('km_driven').value;
            const gas = document.getElementById('fuel').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `max_power (in bph)=${max_power}&year=${year}&km_driven=${driven}&fuel=${gas}`,
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'El precio del automovil es ' + data.categoria;
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Prediccion de Precios de Autos</h1>
    <form id="formulario" onsubmit="clasificarInsecto(event)">
        <label for="max_power (in bph)">Longitud del Abdomen:</label>
        <input type="text" id="max_power (in bph)" name="max_power (in bph)"><br><br>

        <label for="year">Ingresa el año:</label>
        <input type="text" id="year" name="year"><br><br>

        <label for="km_driven">Ingresa los Km recorridos:</label>
        <input type="text" id="km_driven" name="km_driven"><br><br>

        <label for="fuel">Tipo de gas</label>
        <input type="text" id="fuel" name="fuel"><br><br>

        <input type="submit" value="Enviar">
    </form>
    <p id="resultado"></p>
</body>
</html>
